.serving-easter{
  position: relative;
  padding: 95px 0 0;
  &__header{
    margin-bottom: 77px;
  }
  &__title{
    font-family: $font1;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #3CA4E9;
    position: relative;
    padding: 40px 0;
    margin: 0;
    &:before{
      content: '';
      position: absolute;
      top: -22px;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url("../img/decor-3.png");
      background-repeat: no-repeat;
      width: 127px;
      height: 41px;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url("../img/decor-3.png");
      background-repeat: no-repeat;
      width: 127px;
      height: 41px;
      transform: rotate(180deg);
    }
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }
  &__item{
    flex:1 0 263px;
  }
  &__name{
    font-family: $font2;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #3065A4;
    margin-bottom: 46px;
  }
  &__figure{
    margin: 0 auto 74px;
    text-align: center;
    img{
      max-width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      margin: auto;
    }
  }
  .container{
    max-width: 1140px;
  }
  @include r(767){
    padding: 32px 0 25px;
    &:before{
      top: 0;
      left: 0;
      background-image: url("../img/kitchen-bg-mobile.png");
      width: 346px;
      height: 209px;
    }
    &__header{
      margin-bottom: 20px;
    }
    &__title{

      font-size: 20px;
      line-height: 24px;
      padding: 40px 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url("../img/decor-3.png");
        background-repeat: no-repeat;
        width: 90px;
        height: 41px;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url("../img/decor-3.png");
        background-repeat: no-repeat;
        width: 90px;
        height: 41px;
        transform: rotate(180deg);
      }
    }
    &__item{
      flex:1 0 100%;
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__name{
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 30px;
    }
    &__figure{
      text-align: center;
      max-width: 184px;
      margin-bottom: 30px;
    }
  }
}