@import "./mixin";
@import "./fonts";



.btn-easter{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px 20px;
	margin: 0 auto;
	width: 100%;
	max-width: 261px;
	font-family: $font2;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	color: #FFFFFF;
	transition: .3s ease;
	background: rgb(80,183,255);
	background: linear-gradient(0deg, rgba(80,183,255,1) 0%, rgba(93,243,255,1) 100%);
	border-radius: 35px;
	border-bottom: 2px solid rgba(93,243,255,1);
	&:hover{
		opacity: .7;
		transition: .3s ease;
	}
}
@include r(767){
	.btn-easter{
		padding: 11px 18px;
		max-width: 188px;
		font-size: 13px;
		line-height: 22px;
	}
}

@import "componets/hero-easter";
@import "componets/collection-easter";
@import "componets/kitchen-easter";
@import "componets/serving-easter";
@import "componets/footer-easter";