@import "./mixin";
@import "./fonts";



.btn-easter{
	font-family: $font2;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	text-transform: lowercase;
	color: #FFFFFF;
	transition: .3s ease;
	background: rgb(80,183,255);
	background: linear-gradient(0deg, rgba(80,183,255,1) 0%, rgba(93,243,255,1) 100%);
	border-radius: 25px;
	border: 2px solid rgba(93,243,255,1);
	&:hover{
		opacity: .7;
		transition: .3s ease;
	}
}

@import "componets/hero-easter";
@import "componets/collection-easter";
@import "componets/kitchen-easter";
@import "componets/serving-easter";
@import "componets/footer-easter";